<br />
<div class="container">
    <div class="row">

        @for (grafico of listaGraficos; track $index) {
            <div class="col-4 mb-3">
                <div class="card">
                    <div class="card-body centralizar">

                        <h3>Bem-vindo, jovem!</h3>
                        <br />

                        Algum dia nós faremos gráficos e utilizando de N componentes aqui...<br>
                        {{grafico}}

                    </div>
                </div>
            </div>
        }


    </div>
</div>