<br>
<div class="container">
    <div class="row">
        <div class="col-12 azul">

            <div class="card">
                <div class="card-body">

                    <h3> <i class="fas fa-archive fa-sm"></i> Cadastro de Acessórios</h3><br>
                    
                    <div class="row">

                        <div class="col-6">
                            <div class="input-group mb-3">
                                <input (keyup)="findByNome()" [(ngModel)]="pesquisa" type="text" class="form-control"
                                    placeholder="Digite parte do nome do acessório" aria-label="Recipient's username"
                                    aria-describedby="button-addon2" />
        
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="alinharADireita">
                                @if(!modoModal){
                                    <a href="admin/acessorios/new" class="btn btn-success btn-rounded" mdbRippled>
                                        <i class="fas fa-plus fa-sm"></i> Novo
                                    </a>
                                }
                            </div>
                        </div>

                    </div>


                    <table class="table table-striped">

                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">NOME</th>
                                <th scope="col">DESCRIÇÃO</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (acessorio of lista; track $index) {
                            <tr>
                                <td>{{acessorio.id}}</td>
                                <td>{{acessorio.nome}}</td>
                                <td>{{acessorio.descricao}}</td>
                                <td class="alinharADireita">
                                @if(!modoModal){
                                    <a href="admin/acessorios/edit/{{acessorio.id}}" class="btn btn-primary btn-rounded"
                                        mdbRippled>
                                        <i class="fas fa-pencil fa-sm"></i>
                                    </a>
                                    <button (click)="delete(acessorio)" class="btn btn-danger btn-rounded" mdbRippled>
                                        <i class="fas fa-trash fa-sm"></i>
                                    </button>
                                }@else {
                                    <button (click)="selecionar(acessorio)" class="btn btn-success btn-rounded" mdbRippled>
                                       Selecionar
                                    </button>
                                }
                                </td>
                            </tr>
                            }

                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>
</div>