<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">Sistema Xuxa</a>

    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" (click)="basicNavbar.toggle()" aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent" mdbCollapse #basicNavbar="mdbCollapse">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/admin/dashboard">Início</a>
        </li>
        @if(loginService.hasRole('ADMIN') || loginService.hasRole('ATENDENTE')){
        <li class="nav-item">
          <a class="nav-link" href="/admin/carros">Carros</a>
        </li>
      }
        <li class="nav-item">
          <a class="nav-link" href="/admin/marcas">Marcas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/acessorios">Acessórios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/usuarios">Usuários</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Sair</a>
        </li>
      </ul>
      <!-- Left links -->


      <div class="d-flex align-items-center">
        <button type="button" class="btn btn-link px-3 me-2">
          Login
        </button>
        <button type="button" class="btn btn-primary me-3">
          Bem-vindo, {{loginService.getUsuarioLogado().username}}
        </button>
        <a
          class="btn btn-success px-3"
          (click)="modalAlterarSenha()"
          role="button"
          >Alterar Senha</a>
      </div>

    

    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->




<ng-template #modalAltera>

  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Alterar Senha</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
  </div>
  <div class="modal-body">

    <app-alterar-senha (meuEvento)="meuEventoTratamento($event)"></app-alterar-senha>

  </div>

</ng-template>