<br />
<div class="container">
  <div class="row">
    <div class="col-4"></div>

    <div class="col-4">
      <div class="card">
        <div class="card-body centralizar">

          <h3>Cadastro de marca</h3>
          <br />

          <form #formulario="ngForm" (ngSubmit)="save()">

            <mdb-form-control>
              <input mdbInput type="text" name="nome" class="form-control" [(ngModel)]="marca.nome" />
              <label mdbLabel class="form-label" for="nome">Nome do marca:</label>
            </mdb-form-control>

            <br />

            @if(marca.id > 0){
            <button type="submit" [disabled]="!formulario.valid" class="btn btn-success btn-rounded">
              <i class="fas fa-save fa-sm"></i> Atualizar
            </button>
            }@else {
            <button type="submit" [disabled]="!formulario.valid" class="btn btn-success btn-rounded">
              <i class="fas fa-save fa-sm"></i> Salvar
            </button>
            }

          </form>

        </div>
      </div>
    </div>

    <div class="col-4"></div>
  </div>
</div>