<br>
<div class="container">


    <div class="row">
        <div class="col-12 azul">

            <div class="card">
                <div class="card-body">

                    <h3> <i class="fas fa-car fa-sm"></i> Cadastro de carros</h3><br>

                    <div class="row">

                        <div class="col-6">
                            <div class="input-group mb-3">
                                <input (keyup)="findByNome()" [(ngModel)]="pesquisa" type="text" class="form-control"
                                    placeholder="Digite parte do nome do carro" aria-label="Recipient's username"
                                    aria-describedby="button-addon2" />
        
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="alinharADireita">
                                <a (click)="new()" class="btn btn-success btn-rounded" mdbRippled>
                                    <i class="fas fa-plus fa-sm"></i> Novo
                                </a>
                            </div>
                        </div>

                    </div>



                    <table class="table table-striped">

                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">NOME</th>
                                <th scope="col">MARCA</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (carro of lista; track $index) {
                            <tr>
                                <td>{{carro.id}}</td>
                                <td>{{carro.nome}}</td>
                                <td>{{carro.marca?.nome}}</td>
                                <td class="alinharADireita">
                                    <a (click)="edit(carro)" class="btn btn-primary btn-rounded" mdbRippled>
                                        <i class="fas fa-pencil fa-sm"></i>
                                    </a>
                                    <button (click)="delete(carro)" class="btn btn-danger btn-rounded" mdbRippled>
                                        <i class="fas fa-trash fa-sm"></i>
                                    </button>
                                </td>
                            </tr>
                            }

                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>
</div>



<ng-template #modalCarroForm>

    <div class="modal-header">
        @if(carroEdit.id > 0){
            <h5 class="modal-title" id="exampleModalLabel">Editar carro</h5>
        }@else {
            <h5 class="modal-title" id="exampleModalLabel">Novo carro</h5>  
        }
        <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
    </div>
    <div class="modal-body">

        <app-carros-form [carro]="carroEdit" (meuEvento)="meuEventoTratamento($event)"></app-carros-form>

    </div>

</ng-template>